backports.shutil-get-terminal-size
certifi
chardet
Cython
decorator
docutils
enum34
idna
ipython
ipython-genutils
Kivy
Kivy-Garden
pexpect
pickleshare
prompt-toolkit
ptyprocess
pygame
Pygments
requests
simplegeneric
six
traitlets
urllib3
wcwidth
